#top-card {
  display: inline-block;
  margin: 1rem;
  min-width: fit-content;
}
#title {
  font-size: 50px;
  transition: 0.1s;
  justify-self: center;
}
#title:hover {
  color: rgb(80, 80, 230);
}
#favorite-btn,
#searchField,
#search-btn {
  height: 40px;
  width: 80px;
  border: 1px solid black;
  border-radius: 2px;
  text-align: center;
  transition: 0.1s;
  font-size: 15px;
}
#favorite-btn:hover,
#search-btn:hover {
  transform: scale(1.1);
  background-color: rgb(80, 80, 230);
}
#favorite-btn {
  border-radius: 2rem 0 0 2rem;
}
#search-btn {
  border-radius: 0 2rem 2rem 0;
}
#searchField {
  width: 200px;
  border-left: none;
  border-right: none;
}
/*NEW SECTION*/
#category-card {
  width: fit-content;
  display: flex;
  flex-direction: column;
  margin-left: 1rem;
}
#category-list {
  font-size: 30px;
  list-style-type: none;
  text-decoration: none;
}
li {
  list-style-type: none;
  text-decoration: none;
}
#category-btn {
  width: 136px;
  height: 40px;
  font-size: 20px;
  margin: 4px 0 4px 0;
  transition: 0.1s;
  border: 1px solid black;
  border-radius: 4px;
}
#category-btn:hover {
  transform: scale(1.1);
  background-color: rgb(80, 80, 230);
}

/* #category-list {
  display: inline-block;
  width: fit-content;
  font-size: 30px;
  margin: 10px;
}
#category-btn {
  height: 30px;
  width: 120px;
  font-size: 20px;
  transition: 0.1s;
  list-style-type: none;
  border: 1px solid black;
  border-radius: 2px;
}
#category-btn:hover {
  transform: scale(1.1);
  background-color: rgb(80, 80, 230);
}
*/
a {
  text-decoration: none;
}
