/* #dropdown {
  display: inline-block;
  width: fit-content;
  font-size: 30px;
  margin: 10px;
}
#drop-ul {
  transition: 0.1s;
}
#drop-ul {
  display: none;
  position: absolute;
}
#dropdown:hover #drop-ul {
  display: block;
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  list-style-type: none;
}
#dropdown-btn {
  height: 30px;
  width: 120px;
  font-size: 20px;
  transition: 0.1s;
  list-style-type: none;
}
#dropdown-btn:hover {
  transform: scale(1.2);
  border: 1px solid black;
  background-color: rgb(60, 60, 60);
  border-radius: 6px;
}
#dropdown-content {
  list-style-type: none;
}
#dropdown-name {
  text-decoration: none;
  background: none;
} */
/* TRYING SOMETHING DIFFERENT */
#navigationbar-card {
  display: inline-block;
  width: 200px;
  text-align: center;
}
#dropdown {
  display: flex;
  flex-direction: column;
}
#dropdown-name {
}
#dropdown-content {
  list-style-type: none;
}
