#dropdown {
  display: inline-block;
  width: fit-content;
  font-size: 30px;
  margin: 10px;
}
#dropdown-btn {
  height: 30px;
  width: 120px;
  font-size: 20px;
  transition: 0.1s;
  list-style-type: none;
  border: 1px solid black;
  border-radius: 2px;
}
#dropdown-btn:hover {
  transform: scale(1.2);
}
#dropdown-name {
  text-decoration: none;
}
#searchField {
  width: 200px;
  text-align: center;
  height: 30px;
  border-radius: 2px;
  border: 1px solid black;
}
#search-btn {
  border: 1px solid black;
  height: 30px;
  width: 60px;
}
